<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.vilhena.mapgon">

    <!-- Lista de permissoes -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mapgon">
        <activity android:name=".atividades.TopJogdoresSelecionado"></activity>
        <activity android:name=".atividades.TopJogadores" />
        <activity android:name=".atividades.Poligonos" />
        <activity android:name=".atividades.AcabouTempo" />
        <activity android:name=".atividades.FimJogo" />
        <activity android:name=".atividades.JogoMapa" />
        <activity android:name=".atividades.Sobre" />
        <activity android:name=".atividades.Jogo" />
        <activity android:name=".atividades.DefineEquipa" />
        <activity android:name=".atividades.Servidor" />
        <activity android:name=".atividades.AguardaJogo" />
        <activity android:name=".atividades.Cliente" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>