<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.vilhena.mapgon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mapgon">
        <activity android:name=".atividades.Sobre"></activity>
        <activity android:name=".atividades.Jogo" />
        <activity android:name=".atividades.DefineEquipa" />
        <activity android:name=".atividades.Servidor" />
        <activity android:name=".atividades.AguardaJogo" />
        <activity android:name=".atividades.Cliente" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>